
<nav class="navbar navbar-expand-sm fixed-bottom" id="bottom-bar">
    <div class="container">
        <div class="">
            <p class="">
                Napoleon Hill - "Whatever the mind of man can conceive and believe, it can achieve."
            </p>

        </div>
        <div class="bottom-links text-center">
            <ul class="list">
                <li class="items"><a href="https://github.com/luisflores189544" target="_">Github</a></li>
                <li class="items"><a href="https://linkedin.com/in/luis-flores-33952297" target="_">Linkedin</a></li>
                
            </ul>
        </div>
        <div class="text-center">
            <p class="c-title">
                luisflores.pa@gmail.com
            </p>
        </div>

    </div>

</nav>
